
/final-project/.qtcreator
/final-project/__pycache__
*.pyc
*.pyc
/rhainer-testing/.qtcreator
rhainer-testing/final-project.pyproject.user
rhainer-testing/final-project.pyproject.user
rhainer-testing/final-project.pyproject.user
rhainer-testing/final-project.pyproject
rhainer-testing/managerDashboard.ui.autosave
rhainer-testing/final-project.pyproject
